<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%- title %></h1>
    <p>Username: <%= username %></p>
    <p>ID: <%= postid %></p>
    <p>Body: <%- body %></p>
    <p>Created: <%= created %></p>
    <p>Modified: <%= modified %></p>
  </body>
</html>